@{
    ViewBag.Title = "软件说明";
}

<link href="/css/page.css" rel="stylesheet" type="text/css" />
<link href="/css/jquery-confirm.css" rel="stylesheet" type="text/css">

<aside class="right-side">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- top row -->
        <div class="row">
            <div class="col-xs-12 connectedSortable">

            </div><!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">@ViewBag.Title</h3>



                    </div><!-- /.box-header -->



                    <div class="box-body">
                        本免责及隐私保护声明（以下简称“隐私声明”或“本声明”）适用于北京沃西基网络科技有限公司(以下简称“本公司”)研发的系列软件(以下简称"软件") 在您阅读本声明后若不同意此声明中的任何条款，或对本声明存在质疑，请立刻停止使用我们的软件。若您已经开始或正在使用软件，则表示您已阅读并同意本声明的所有条款之约定。

                        <br /> 1、 总则：您通过安装软件并使用软件提供的服务与功能即表示您已经同意与本公司立本协议。本公司可随时执行全权决定更改“条款”。如“条款”有任何变更，本公司官方网站上刊载公告作为通知。经修订的“条款”一经在官方网站上公布后，立即自动生效。

                        <br /> 2、 本产品是WEB软件。我们的软件经过系统调研，开发，具有严格的安全措施，未经本公司同意，不允许授权给第三方使用。

                        <br /> 3、一切因使用软件而引致之任何意外、疏忽、合约毁坏、诽谤、版权或知识产权侵犯及其所造成的损失（包括在非官方站点下载软件而感染电脑病毒），本公司概不负责，亦不承担任何法律责任。

                        <br />  4、用户对使用软件自行承担服务器风险，我们不做任何形式的保证, 因网络状况、通讯线路等任何技术原因而导致用户不能正常升级更新，我们也不承担任何法律责任。

                        <br /> 5、软件尊重并保护所有用户的个人隐私权，不会窃取任何用户计算机中的信息。

                        <br /> 6、任何单位或个人不得在没有我公司授权的情况下对旗下软件进行二次开发、功能修改和反编译。软件保留版权与著作权。 　

                        <br />  7、系统的版权：我公司对所有开发的或合作开发的产品拥有知识产权，著作权，版权和使用权，这些产品受到适用的知识产权、版权、商标、服务商标、专利或其他法律的保护。　　

                        <br />  8、传播:任何公司或个人在网络上发布，传播我们软件的行为都是不被允许的，因公司或个人传播软件可能造成的任何法律和刑事事件本公司不负任何责任，且有权利追究其法律责任。

                        <br />9、授权：本公司针对贵单位开发的客户管理系统软件，授权给对方终身使用，并已经将部署所需所有文件（包含数据库）交给贵单位，但贵单位不得对其进行二次开发和更改，并遵循第2条说明。

                        <br />10、服务：本软件免费服务期限1年，1年内如有任何问题，本公司提供远程指导和修改。如非不可抗力困难，保证48小时内解决问题。1年后免费服务终止。

                        <br />11、维护：本软件1年免费维护期限到期后，如贵单位还需维护，每年维护费用3000元。

                        <br />12、升级：一般情况下，软件使用3至5年后，因为有新技术的出现，需要对软件进行升级操作，届时，如需升级，本公司愿意提供升级服务，升级费用另行商讨。

                        <br />13、其他：本说明其他未尽适宜，一切解释权归本公司所有。


                    </div><!-- /.box-body -->

                    <div class="box-footer clearfix">
                        <!-- Pagging -->
                        <!-- EndPagging -->
                    </div>


                </div><!-- /.box -->
            </div>
        </div><!-- /.row (main row) -->

    </section><!-- /.content -->
</aside>

